.mobiil-id-cancel-link, .block-user .form-item-mobiil-id-phone-number, .block-system .form-item-mobiil-id-phone-number {
  display: none;
}
.mobiil-id-link {
  display: block;
  background: transparent url('mobiil_id.gif') no-repeat;
  text-indent: -9999px;
  width: 89px;
  height: 33px;
  cursor: pointer;
  clear: both;
}
.mobiil-id-fieldset {
  border: none;
}
.block-user .mobiil-id-show, .block-system .mobiil-id-show {
  display: block;
}
.block-user .mobiil-id-hide, .block-system .mobiil-id-hide {
  display: none;
}
.mobiil-id-outstanding-transaction .mobiil-id-progress-bar {
  display: block;
  background: transparent url('progress.gif') no-repeat;
  width: 124px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mobiil-id-status-wrapper {
  padding: 10px;
  text-align: center;
}
.mobiil-id-status-wrapper .mobiil-id-result {
  font-weight: bold;
}